@import "./variable.css";

@media screen and (max-width: 767px) {
  .submitForm {
    flex-direction: column;
    height: 80vh !important;
  }
  .submitFile {
    font-size: 20px;
    margin-bottom: 4vh;
  }
  .submitBtn {
    height: 40px;
    width: 80px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .submitFile {
    font-size: 36px;
  }

  .submitBtn {
    height: 80px;
    width: 160px;
    font-size: 24px;
  }
}
.submitForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.submitBtn {
  background-color: white;
  border-radius: 5px;
}

.cameraBtn {
  height: 5vh;
  width: 10vw;
  font-size: 30px;
  font-weight: 550;
}
