@import "./variable.css";

@media screen and (max-width: 767px) {
  .main__information p {
    line-height: 1.7;
    font-size: 18px;
  }
  .imgs__container {
    width: 45vw;
  }
}
@media screen and (min-width: 768px) {
  .main__information p {
    line-height: 1.8;
    font-size: 22px;
  }
  .imgs__container {
    width: 30vw;
  }
}

.element__imgBlock img {
  width: 80%;
  height: 60%;
  margin: 20px;
}

.main__container {
  width: 100%;
  display: flex;
  padding: 2vh 0;
}

.element__imgBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img__name {
  text-align: center;
  font-size: 24px;
  font-weight: 550;
}
.main__information {
  font-weight: 500;
  padding-top: 2vh;
  width: 70vw;
}
